body {
  background-image: linear-gradient(to right, #f4f8fc, #f7fafd, #fafbfe, #fdfdfe, #ffffff);
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, div, a, button {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-size: 5em !important;
}

p {
  font-size: 1.5em;
}


/*timepicker style*/
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}


/*home page styles*/

.masthead {
  /* background-image: radial-gradient(circle, #afd9fc, #99cefc, #82c3fb, #6ab7fb, #4eacfa) !important; */
  background-image: radial-gradient(circle, #4eacfa, #6ab7fb, #82c3fb, #99cefc, #afd9fc) !important;
  height:100vh;
}

.ui.header >.image:not(.icon), .ui.header > img {
  width: 5.5em;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0 !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.inverted.pointing.menu {
  border: none;
}

/*end home page styles*/

/* navbar styles */

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.fixed.menu {
  background-image: radial-gradient(circle, #afd9fc, #99cefc, #82c3fb, #6ab7fb, #4eacfa);
}

.ui.main.container,
.main.segment {
  margin-top: 7em;
}

.ui.center.aligned.segment.attendance-preview {
  background-color: #f5f5f5;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.ui.menu .item>img:not(.ui) {
  margin-right: 1.5em !important;
}

.ui.menu:not(.vertical) .item>.button {
  margin-left: 0.5em;
}

/*chat comments*/

.ui.comments .comment .comments {
  padding-bottom: 0 !important;
  padding-left: 2em !important;
}

/* event quotes panel */
#event-quotes-panel {
  margin-top: 0;
}

.push-right {
  float: right;
}


